.header 
{
  background-color: black;
  padding: 12px;
  text-align: center;
}

.mega 
{
	border-radius: 50%;
	float: left;
	width: 80px;
	height: 80px;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left column */
.column.side {
  width: 35%;
}

/* Middle column */
.column.middle {
  width: 64%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

body
{
	background-image: url("bh_jet_credsNASAJPL.jpg");
	background-size: cover;
	background-repeat: no;
	background-attachment: fixed;
}

h1
{
	color: ghostwhite;
}

p
{
	color: ghostwhite;
}

