body
{
	background-image: url("bh_jet_credsNASAJPL.jpg");
	background-size: cover;
	background-repeat: no;
	background-attachment: fixed;
}

h1
{
	color: ghostwhite;
}

p
{
	color: ghostwhite;
}

.header 
{
  background-color: black;
  padding: 20px;
  text-align: center;
}